.App {
  text-align: center;
}

.navbar {
	float: left;
	background-color: #000066;
	color: white;
	width: 100vw;
	height: 10vh;
	margin: 0;
	padding: 0;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.info-display {
	float: left;
	background-color: #6699ff;
	color: black;
	width: 100vw;
	height: 45vh;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

.info-entry {
	float: left;
	background-color: #cc0000;
	color: white;
	width: 100vw;
	height: 45vh;
	margin: 0;
	padding: 0;
	overflow: scroll;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: none;
}
